<ion-view view-title="Inicio">
  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
  <ion-content class="padding">
    <h2 class="titulo">Bienvenido</h2>
    <p class="informacion">
      Esta es una Aplicación
    </p>
    <p class="informacion2">
      Esta Aplicación es para Chatear en linea con todos tus contactos.
    </p>
    <p class="informacion2">
      Ve hacia Chats y empieza a chatear.
    </p>
  </ion-content>
</ion-view>
